In [38]:
import os 
from os.path import join, basename
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.io import mmread

import scanpy as sc

In [39]:
PROCESSED_DATA_DIR = os.environ["PROCESSED_DATA"]
input_path = join(PROCESSED_DATA_DIR,  'SRP266243/SRR11940660/STAR_Bsub_ref_outs/STAR_OUTPUT_Solo.out/Gene/raw/')

In [22]:
adata = sc.read_10x_mtx(
    input_path,                 # path to folder containing .mtx, .tsv
    var_names="gene_symbols",# use gene symbols instead of Ensembl IDs
    cache=True
)

print(adata)

AnnData object with n_obs × n_vars = 884736 × 211
    var: 'gene_ids', 'feature_types'

In [29]:
adata.var

                        gene_ids    feature_types
BSU_rRNA_1            BSU_rRNA_1  Gene Expression
BSU_tRNA_5            BSU_tRNA_5  Gene Expression
BSU_tRNA_6            BSU_tRNA_6  Gene Expression
BSU_rRNA_2            BSU_rRNA_2  Gene Expression
BSU_rRNA_3            BSU_rRNA_3  Gene Expression
...                          ...              ...
BSU_tRNA_1            BSU_tRNA_1  Gene Expression
BSU_tRNA_2            BSU_tRNA_2  Gene Expression
BSU_tRNA_3            BSU_tRNA_3  Gene Expression
BSU_tRNA_4            BSU_tRNA_4  Gene Expression
BSU_misc_RNA_94  BSU_misc_RNA_94  Gene Expression

[211 rows x 2 columns]